body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: white;
  font-family: Arial;
}
/* wrapper class wraps the total simulation */
.wrapper {
  display: flex;
  gap: 35px;
  align-items: center;
}

/* CARD STYLE */
.card {
  width: 350px;
  padding: 22px;
  border-radius: 18px;
  background: #fff;
  border: 1px solid #e0e0e0;
  box-shadow: 0 8px 25px rgba(0,0,0,0.08);
  position: relative;
  transition: transform 0.3s ease;
}

/* js mai ye 3 classes banayi movements show krne ko , or unme transistion daala*/
.slide-up { transform: translateY(-25px); }
.slide-down { transform: translateY(25px); }
.reset { transform: translateY(0); }
 

/* Profile row */
.profile-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: orange;
}
/* profile-row ends here */

.priority-label {
  padding: 4px 10px;
  border-radius: 12px;
  font-size: 12px;
  font-weight: bold;
  color: white;
}

/* PRIORITY COLORS */
.priority-label.high { background: red; }
.priority-label.medium { background: rgb(255,204,0); color:black;}
.priority-label.low { background: green; }
.priority-label.vip { background: purple; }
.priority-label.followup { background: blue; }


/* Info rows */
.info {
  display: flex;
  justify-content: space-between;
  margin: 6px 0;
  font-size: 14px;
}
.action {
  margin-top: 15px;
  display: flex;
  gap: 10px;
}
.call, .msg {
  padding: 8px 20px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}
.call {
  background: black;
  color: white;
}
.msg {
  background: rgb(221,221,221);
}

/* Side priority dots */
.priority-dots {
  position: absolute;
  right: -55px;
  top: 28px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.dot {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  opacity: 0.45;
  cursor: pointer;
  border: none;
}
.dot.high { background: red; }
.dot.medium { background: rgb(255,204,0); }
.dot.low { background: green; }
.dot.vip { background: purple; }
.dot.followup { background: blue; }
.dot.active { opacity: 1; transform: scale(1.1); }

/* Controls */

.controls{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.icon-btn {
  width: 43px;
  height: 43px;
  font-size: 20px;
  border-radius: 50%;
  border: 1px solid #bdbdbd;
  cursor: pointer;
  background: #fff;
}

/* Popup style */
.overlay {
  position: fixed;
  display: none;
  left: 0; top: 0;
  width: 100%; height: 100%;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0,.45);
}

.form-box {
  background: #fff;
  padding: 22px;
  width: 270px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-box input, .form-box select {
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.form-actions {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}
#cancelForm {
  background: #bdbdbd;
  border-radius: 6px;
  padding: 6px 15px;
}
#saveForm {
  background: green;
  color: white;
  border-radius: 6px;
  padding: 6px 15px;
}
