*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
    /* background-color: black; */
   
}

body{
    background-color: black;
    display:flex ;
    justify-content: center;
    align-items: center;
}

@property --rotate{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@keyframes borderAnimates{
    from{
        --rotate :0deg;
    }
    to{
        --rotate: 360deg;
    }
}


.box{
    height: 350px;
    width:200px;
    padding-inline: 10px;  /* matlab left or right se 10-10 ki padding*/
    padding-bottom: 10px;
    color: whitesmoke;
    display:flex ;
    justify-content: center;
    flex-direction: column;
    gap : 10px;
    box-shadow: 0 0 0px rgb(234, 4, 111) ;
    background: 
        linear-gradient( black) padding-box,
        conic-gradient(from var(--rotate), black , black,rgb(234, 4, 111),black) border-box;
    border :5px solid rgba(255, 255, 255, 0);
    animation: borderAnimates 5s;
    animation-iteration-count: infinite; 
    animation-timing-function: linear;  
    animation-play-state: paused;
    border-width: 0px;
    transition: all 0.3s linear;
    text-shadow: 0 0 0px rgb(255, 0, 123) ;
    display:flex ;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
}


img{
    height: 150px;
    width: 190px;
}

.box:hover {
    color:rgb(255, 0, 123) ;
    animation-play-state: running ;
    border-width: 5px;
    box-shadow: 0 0 50px rgb(255, 0, 195) ;
    /*to create bloom effect*/
    text-shadow: 0 0 10px rgb(255, 0, 123) ;
}


   
    
    